
@{
    ViewData["Title"] = "Administration";
}

<h1>Administration Page</h1>

<ul>
    <li>
        <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">Manage Employees</a>
    </li>
    <li>
        <a class="nav-link" asp-area="" asp-controller="Managers" asp-action="Index">Manage Managers</a>
    </li>
</ul>

